.table-sub-container{
    width: 100%;
    text-align: center;
    height: 100%;


    .table-row{
        width: 10%;

        td{
            background-color: #f3f3f3;
            padding: 1rem 3rem;

        }

        th{
            width: 10%;
            background-color: #009879;
            color: #ffffff;
            padding: 1rem 3rem;
            min-width: 150px;
        }

        th:nth-Child(even){
            width: 10%;
            background-color: #43ce7e;
            color: #ffffff;
        }
    }


}